html, body {
  /* height: 150vh;   */
  margin: 0;
  padding: 0;
  background: #ffffff;
}

@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: url(./assets/Fonts/Poppins-MediumItalic.otf);
}

@font-face {
  font-family: Poppins;
  font-weight: semibold;
  src: url(./assets/Fonts/Poppins-SemiBold.otf);
}

@font-face {
  font-family: Poppins;
  font-weight: medium;
   src: url(./assets/Fonts/Poppins-Medium.otf);
}

:root {
  --margin-left: calc(100vw / 160);
  --margin-right: calc((100vw / 160) * 159);

  --column-w: calc(100vw / (1280 / 98));
  --gutter-w: calc(100vw / 160);

  --margin-top: calc(100vh / 20.8);
  --row-w: calc(100vh / 9.6744186047);
  --gutter-h: calc(100vh / 33.28);

  --eins: calc(100vw * (98 / 1280 + 1 / 160));
  --zwei: calc(100vh/2.5 );
  --drei: calc(50vh - ((100vw * 98 / 1280) / 2));
  --vier: calc(100vh/1.25);
}

body{
  display: grid;
  /* 12 Spalten mit Gutter dazwischen */
  grid-template-columns:
    var(--margin-left) var(--column-w) var(--gutter-w)var(--column-w)var(--gutter-w)
    var(--column-w)var(--gutter-w) var(--column-w)var(--gutter-w) var(--column-w)
    var(--gutter-w) var(--column-w)var(--gutter-w) var(--column-w) var(--gutter-w)
    var(--column-w)var(--gutter-w)var(--column-w)var(--gutter-w)var(--column-w)
    var(--gutter-w)var(--column-w)var(--gutter-w)var(--column-w) var(--margin-left);
  grid-template-rows: 100vh 100vh 100vh 100vh 100vh 100vh 100vh 100vh;
}


canvas {
  display: block;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  
}

.large{
  font-size: calc(100vw/50);
  font-family: Poppins;
  font-weight: bold;
}

.medium{
  font-size: calc(100vw/40);
  font-family: Poppins;
  font-weight: semibold;
}

.small{
  font-size: calc(100vw/60);
  font-family: Poppins;
  font-weight: medium;
}

.xs{
  font-size: calc(100vw/90);
  font-family: Poppins;
  font-weight: medium;
}
/* ///////////////////////////////////////////////// */

.hero > h1{
      text-align: right;
      margin-bottom: calc((-100vw/50)*0.6);
}

.Portfolio{
  grid-row: 1/2;
  grid-column: 12 / 26;
  height:var(--eins);
  /* border: solid; */
  display: flex;
  align-items: flex-end ;
}

.CorinnaKunst{
  grid-row: 1/2;
  grid-column: 1 / 9;
  height:var(--eins);
  /* border: solid; */
  display: flex;
  align-items: flex-end ;
  justify-content: flex-end;
}

/* ///////////////////////////////////////////////// */

.HeyDu{
  grid-row: 1/2;
  grid-column: 6 / 27;
  height:40vh;
  /* border: solid; */
  display: flex;
  align-items: flex-end ;
  /* justify-content: flex-end; */
  text-align: right;
}

  .du {
    text-decoration: underline;
  }

  .pfeildu{
    opacity:100;
    grid-column: 19/27;
    margin-top: 15vh ;
      grid-row: 1/2; 
      /* display: flex;
      flex-direction: center; */
  }
    .mitte{
      height: var(--column-w);
      width: 1vh;
      border: solid;
      rotate: 45deg;
    }
    .rechts{
      height: var(--column-w);
      width: 1vh;
      border: solid;
      rotate: 120deg;
    }

  /* .du:hover ~ .pfeildu{
    opacity: 100;
  } */

.intro1 {
  display: flex;
  grid-row: 1/2; 
  grid-column: 10/19;
  margin-top: 44vh;
  /* border: solid; */
}

.Sehen{
  grid-row: 1/3;
  grid-column: 6 / 27;
  height:140vh;
  /* border: solid; */
  display: flex;
  align-items: flex-end ;
  /* justify-content: flex-end; */
  text-align: right;
}
.intro2 {
  grid-row: 1/3; 
  grid-column: 10/17;
  margin-top: 144vh;
  /* border: solid; */
}

/* ///////////////////////////////////////////////// */
.ÜberMich{
  grid-row: 1/4;
  grid-column: 6 / 27;
  height:240vh;
  /* border: solid; */
  display: flex;
  align-items: flex-end ;
  /* justify-content: flex-end; */
  text-align: right;
}

.Fliesstext{
  grid-row: 1/4;
  grid-column: 10/17;
  margin-top: 244vh;
  /* border: solid; */
  display: flex;
}
.MeineProjekte{
  /* grid-row: 3/4; */
  grid-column: 1 / 9;
  margin-top: 25vh;
  /* border: solid; */
  display: flex;
  text-align: right;
  
}
/* ///////////////////////////////////////////////// */
h1{
  /* position: fixed; */
  margin: 0;
}

h2{
  /* position: fixed; */
  margin: 0;
  margin-bottom: calc((-100vw/30)*0.45);
  
}

h3{
  margin: 0;
}

p{
  /* position: fixed; */
  margin: 0;
}

/* ///////////////////////////////////////////////// */
/* Y : grid.columw+grid.gutterwc, */
.flexboxprojektbuttons{
  display: flex;
  flex-direction: column;
  margin-top: 325vh;
  height: fit-content;
}
.projektbutton{
  opacity: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;

  /* grid-column: 1/26; */
}
/* 
#buttonprojekt1{
  margin-top: 375vh;
} */
/* #buttonprojekt2{
  grid-row: 5/6;
}
#buttonprojekt3{
  grid-row: 6/7;
}
#buttonprojekt4{
  grid-row: 7/8;
} */

/* ///////////////////////////////////////////////// */
#buttonmouse{
  position: fixed;
  display:flex;
      justify-content: center;
      align-items: center;
  width: calc(var(--column-w)*0.5);
  height: calc(var(--column-w)*0.5);
  border: solid;
  border-radius: 50%;
  z-index: 10;
  opacity: 10;
  visibility: hidden;
  pointer-events: none;
  transform: translate(calc((var(--column-w)*0.5)/-2),calc((var(--column-w)*0.5)/-2));
}
  #buttonmouse>p{
    /* transform: translate(calc(var(--column-w)/4),calc(var(--column-w)/4)); */
    /* border: solid; */
    text-align: center;
    width: fit-content;
    height: fit-content;
  }

.flexboxprojektbuttons:hover ~  #buttonmouse{
  visibility: visible;
}

.projektbutton{
  cursor: none;
}

.Projektüberschrift{
  grid-column: 10 / 26;
  grid-row: 1/5;
  height: 340vh;
  z-index: 10;
  pointer-events: none;
  display: flex;
  align-items: flex-end ;
  /* border: solid; */
}

.sponti {
  grid-column: 6 / 9;
  grid-row: 1/5;
  
  /* z-index: 10; */
  visibility: hidden;
  pointer-events: none;
}

.sponti.active {
  visibility: visible;
  pointer-events: none;
}

#textsponti0{
  /* grid-column: 4/ 9; */
  margin-top: 344vh;
  /* border: solid; */
  /* visibility: hidden; */
}

#textsponti1{
  /* grid-column: 4/ 9; */
  margin-top: 344vh;
  /* visibility: hidden; */
}

#textsponti2{
    /* grid-column: 4/ 9; */
  margin-top: 344vh;
  /* visibility: hidden; */
}
#textsponti3{
  /* grid-column: 4/ 9; */
  margin-top: 344vh;
  /* visibility: hidden; */
}

